<link rel="stylesheet" href="/styles.css">
<form id="myid" method="post" action="/new-book">
    <label for="bookTitle">Title of book:</label>
    <input type="text" name="title" id="bookTitle">

    <label for="rating">Rating out of 10:</label>
    <input type="text" name="rating" id="rating">

    <label for="summary">Quick summary:</label>
    <input type="text" name="summary" id="summary">

    <label for="isbnNum">ISBN number:</label>
    <input type="text" name="isbn" id="isbnNum">

    <input type="submit" id="create" value="Upload">
</form>